apiVersion: v1
kind: Service
metadata:
  name: {{ include "rgw-exporter.fullname" . }}
  labels:
    {{- include "rgw-exporter.labels" . | nindent 4 }}
  namespace: {{ .Values.namespace | default .Chart.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "rgw-exporter.selectorLabels" . | nindent 4 }}
